{% include "partials/header.twig" %}
<main class='main-content'>
    <div class="main-banner" style="background: url({{ site.theme.link }}/assets/images/ban_decore.png) 75% 101%,linear-gradient(132.63deg, #FFFFFF 12.88%, rgba(255, 255, 255, 0) 85.91%), linear-gradient(179.5deg, #FFFFFF 1.41%, rgba(254, 254, 254, 0) 42.95%),url({{ site.theme.link }}/assets/images/slide4.jpg) 0 100%;">
        <div class="container">
            <div class="hassp-before-title">ХАССП</div>
            <div class="hassp-title">Вебинар</div>
            <div class="main-banner-text">
                <p>Независимые модули</p>
            </div>
        </div>
    </div>
    <div class="webinar-content">
        <div class="container">
            <div class="webinar-lesson">
                <p><span>Занятия:</span> с 21 ноября по 25 декабря<br>
                    пн-сб 10:00 — 14:00</p>
                <p><b>продолжительность модуля 3 часа</b></p>
            </div>
            <div class="webinar-inner">
                {% for module in modules %}
                    <div ref='module_{{ loop.index }}' class="webinar-item" data-price='{{ module.price }}' data-name_module='{{ module.title }}' data-link_module='{{ module.link_module }}'>
                        <div class="webinar-header">
                            <div class="webinar-title">{{ module.title }}</div>
                            <div class="webinar-link">
                                <a href="#" @click.prevent="setPrice({{ module.price }}, '{{ module.title }}', '{{ module.link_module }}', 'module_{{ loop.index }}')">Выбрать</a>
                            </div>
                        </div>
                        <div class="webinar-content-inner">
                            <div class="webinar-content-column">
                                <div class="webinar-content-text">
                                    {{ module.text_1 }}
                                </div>
                            </div>
                            <div class="webinar-content-column">
                                <div class="webinar-content-text">
                                    {{ module.text_2 }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="webinar-modules-info">
            	<div class="webinar-modules-column">
            		<div class="webinar-modules-info-top">
            			<div class="webinar-modules-info-column">
            				<div class="module-price-text">Стоимость модуля:</div>
            				<div class="module-price-value">(( webinar.price )) р.</div>
            			</div>
            			<div class="webinar-modules-info-column blue">
            				<div class="module-button">
                                <a v-if="webinar.link_module" :href="webinar.link_module" target="_blank" rel="noopener">ЗАПИСАТЬСЯ</a>
                            </div>
            			</div>
            		</div>
            		<div class="webinar-modules-info-bottom">
            			<div class="module-form-name">У вас есть вопросы?</div>
            			<div class="module-form">
            				<form action="" v-on:submit.prevent="submitModuleForm">
            					<input v-model="user.name" class="modulesInput" type="text" placeholder="Ваше имя" required>
            					<input v-model="user.phone" class="modulesInput" type="phone" placeholder="+7 ( ___ ) ___ - __ - __" required>
            					<input class="modulesSubmit" type="submit" value="ОСТАВИТЬ ЗАЯВКУ">
            					<label class="control control-checkbox">
                                    Я согласен на 
                                    <a href="">обработку персональных данных.</a>
            						<input type="checkbox" checked="checked" required/>
        							<div class="control_indicator"></div>
    							</label>
            				</form>
            			</div>
            		</div>
            	</div>
            	<div class="webinar-modules-column">
                    <calendar style="height: 570px;"
                    :calendars="calendarData.calendarList"
                    :schedules="calendarData.scheduleList"
                    :view="calendarData.view"
                    :taskView="calendarData.taskView"
                    :scheduleView="calendarData.scheduleView"
                    :theme="calendarData.theme"
                    :week="calendarData.week"
                    :month="calendarData.month"
                    :timezones="calendarData.timezones"
                    :disableDblClick="calendarData.disableDblClick"
                    :isReadOnly="calendarData.isReadOnly"
                    :template="calendarData.template"
                    :useCreationPopup="calendarData.useCreationPopup"
                    :useDetailPopup="calendarData.useDetailPopup"
                    />
            	</div>
            </div>
        </div>
    </div>
</main>
{% include "partials/footer.twig" %}