{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="teachers-page top_padding">
		<div class="teachers_block">
			<div class="container">
				<div class="hassp-content-row-title">Преподаватели</div>
				<div class="teachers_block-inner">
					{% if posts is not empty  %}
						{% for post in posts %}
							<a href="{{ post.link }}" class="teacher-item">
								<div class="teacher-item-photo">
									{% if post.thumbnail %}
										<picture>
											<source srcset="{{ post.thumbnail.src('medium_large')|towebp }}" type="image/webp">
											<source srcset="{{ post.thumbnail.src('medium_large')|tojpg }}" type="image/jpeg">
											<img src="{{ post.thumbnail.src('medium_large')|tojpg }}" alt="{{ post.title }}">
										</picture>
									{% else %}
										<img class="" src="{{ site.theme.link }}/assets/images/placeholder-images.webp" alt="">
									{% endif %}
								</div>
								<div class="teacher-item-name">{{ post.title }}</div>
								<div class="teacher-item-text">
									<p>{{ post.position }}</p>
								</div>
							</a>
						{% endfor %}
					{% else %}
						<div class="not-content">
							Категория пуста
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}