{% include "partials/header.twig" %}
<main class='main-content'>

{% for banner in banners %}
<div class="main-banner" style="background: url({{ site.theme.link }}/assets/images/ban_decore.png)0% 101%,linear-gradient(121.06deg, #FFFFFF 12.18%, rgba(255, 255, 255, 0) 60.29%), linear-gradient(179.29deg, #FFFFFF 1.41%, rgba(141, 141, 141, 0) 65.56%),url({{ site.theme.link }}/assets/images/slide.jpg) 0 100%;">
	<div class="container">
		<div class="main-banner-title">{{ banner.title }}</div>
		<div class="main-banner-text">
			<p>{{ banner.text }}</p>
		</div>
		<div class="main-banner-link">
			<a href="{{ banner.button_link }}">Узнать подробнее</a>
		</div>
	</div>	
</div>
{% endfor %}

{% if news_items is not empty  %}
<div class="trainings_block">
	<div class="container">
		<div class="trainings_block-inner">
			{% for news_item in news_items %}
				<div class="training-item" style="background: linear-gradient(360deg, #000000 -21.92%, rgba(179, 179, 179, 0) 48.24%), url({{ news_item.thumbnail.src('medium_large')|tojpg }});">
					<div class="training-item-name">{{ news_item.title }}</div>
					<div class="training-item-link">
						<a href="{{ news_item.link }}">Узнать подробнее</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>	
</div>
{% endif %}

<div class="food-safety">
	<div class="container">
		<div class="main-page-title">Безопасность пищи</div>
		<div class="food-safety-inner">
			{% for course in courses %}
				<div class="food-safety-item">
					<div class="food-safety-item-image">
						{% if course.thumbnail %}
							<picture>
								<source srcset="{{ course.thumbnail.src('medium_large')|towebp }}" type="image/webp">
								<source srcset="{{ course.thumbnail.src('medium_large')|tojpg }}" type="image/jpeg">
								<img src="{{ course.thumbnail.src('medium_large')|tojpg }}" alt="{{ course.title }}">
							</picture>
						{% else %}
							<img class="" src="{{ site.theme.link }}/assets/images/placeholder-images.webp" alt="">
						{% endif %}
					</div>
					<div class="food-safety-content">
						<div class="food-safety-name">{{ course.title }}</div>
						<hr class="safety-decore">
						<div class="food-safety-time">
							{% if course.timecourse %}
								<div class="food-safety-time-name">{{ course.timecourse }}</div>
							{% endif %}
							{% if course.countmodules %}
								<div class="food-safety-time-value">{{ course.countmodules }}</div>
							{% endif %}
						</div>
						<div class="food-safety-text">
							{{ course.get_content|shortcodes }}
						</div>
						<div class="food-safety-links">
							<a class="link-sign" href="{{ course.link }}">Записаться</a>
							<a class="view-more" href="{{ course.link }}">Узнать больше</a>
						</div>
					</div>
					<div class="food-safety-difficult">{{ course.difficult }}</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="teachers_block">
	<div class="container">
		<div class="main-page-title">Преподаватели</div>
		<div class="teachers_block-inner">
			{% for teacher in teachers %}
				<a href="{{ teacher.link }}" class="teacher-item">
					<div class="teacher-item-photo">
						{% if teacher.thumbnail %}
							<picture>
								<source srcset="{{ teacher.thumbnail.src('medium_large')|towebp }}" type="image/webp">
								<source srcset="{{ teacher.thumbnail.src('medium_large')|tojpg }}" type="image/jpeg">
								<img src="{{ teacher.thumbnail.src('medium_large')|tojpg }}" alt="{{ teacher.title }}">
							</picture>
						{% else %}
							<img class="" src="{{ site.theme.link }}/assets/images/placeholder-images.webp" alt="">
						{% endif %}
					</div>
					<div class="teacher-item-name">{{ teacher.title }}</div>
					<div class="teacher-item-text">
						<p>{{ teacher.position }}</p>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</div>
</main>
{% include "partials/footer.twig" %}