{% include "partials/header.twig" %}
<main class='main-content'>
<div class="main-banner" style="background: url({{ site.theme.link }}/assets/images/ban_decore.png)0% 101%,linear-gradient(121.06deg, #FFFFFF 12.18%, rgba(255, 255, 255, 0) 60.29%), linear-gradient(179.29deg, #FFFFFF 1.41%, rgba(141, 141, 141, 0) 65.56%),url({{ site.theme.link }}/assets/images/slide.jpg) 0 100%;">
	<div class="container">
		<div class="main-banner-title">Мы готовим <span>профессионалов</span></div>
		<div class="main-banner-text">
			<p>Важнейшая составляющая успеха любого бизнеса – это люди. Мы искренне верим, что каждый человек обладает уникальными талантами, которые необходимо развивать в течение всей жизни.</p>
		</div>
		<div class="main-banner-link"><a href="">Узнать подробнее</a></div>
	</div>	
</div>
<div class="trainings_block">
	<div class="container">
		<div class="trainings_block-inner">
			{% for news_item in news_items %}
				<div class="training-item" style="background: linear-gradient(360deg, #000000 -21.92%, rgba(179, 179, 179, 0) 48.24%), url({{ news_item.thumbnail.src('medium_large')|tojpg }});">
					<div class="training-item-name">{{ news_item.title }}</div>
					<div class="training-item-link">
						<a href="{{ news_item.link }}">Узнать подробнее</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>	
</div>
<div class="food-safety">
	<div class="container">
		<div class="main-page-title">Безопасность пищи</div>
		<div class="food-safety-inner">
			{% for course in courses %}
				<div class="food-safety-item">
					<div class="food-safety-item-image">
						{% if course.thumbnail %}
							<picture>
								<source srcset="{{ course.thumbnail.src('medium_large')|towebp }}" type="image/webp">
								<source srcset="{{ course.thumbnail.src('medium_large')|tojpg }}" type="image/jpeg">
								<img src="{{ course.thumbnail.src('medium_large')|tojpg }}" alt="{{ course.title }}">
							</picture>
						{% else %}
							<img class="" src="{{ site.theme.link }}/assets/images/placeholder-images.webp" alt="">
						{% endif %}
					</div>
					<div class="food-safety-content">
						<div class="food-safety-name">{{ course.title }}</div>
						<hr class="safety-decore">
						<div class="food-safety-time">
							<div class="food-safety-time-name">Очно (2 дня 16 часов)</div>
							<div class="food-safety-time-value">5 занятий</div>
						</div>
						<div class="food-safety-text">
							<p>В результате обучения:</p>
								<p>· Вы поймете, что такое система стандартов ХАССП в общественном питании применительно к российской действительности.</p>
								<p>· Научитесь использовать ее для повышения эффективности работы своей компании и успешного прохождения проверок контролирующих органов.</p>
								<p>· Получите работающие инструменты внедрения системы.</p>
								<p>· Выполните большое количество интересных практических заданий.</p>
							<p>Всем участникам, прошедшим обучение, выдается Сертификат о повышении квалификации установленного образца.</p>
						</div>
						<div class="food-safety-links">
							<a class="link-sign" href="">Записаться</a>
							<a class="view-more" href="{{ course.link }}">Узнать больше</a>
						</div>
					</div>
					<div class="food-safety-difficult">Начинающий</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="teachers_block">
	<div class="container">
		<div class="main-page-title">Преподаватели</div>
		<div class="teachers_block-inner">
			{% for teacher in teachers %}
				<a href="{{ teacher.link }}" class="teacher-item">
					<div class="teacher-item-photo">
						{% if teacher.thumbnail %}
							<picture>
								<source srcset="{{ teacher.thumbnail.src('medium_large')|towebp }}" type="image/webp">
								<source srcset="{{ teacher.thumbnail.src('medium_large')|tojpg }}" type="image/jpeg">
								<img src="{{ teacher.thumbnail.src('medium_large')|tojpg }}" alt="{{ teacher.title }}">
							</picture>
						{% else %}
							<img class="" src="{{ site.theme.link }}/assets/images/placeholder-images.webp" alt="">
						{% endif %}
					</div>
					<div class="teacher-item-name">{{ teacher.title }}</div>
					<div class="teacher-item-text">
						<p>Региональный менеджер по персоналу</p>
						<p>Преподаватель Университета Росинтер</p>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</div>
</main>
{% include "partials/footer.twig" %}