{% include "partials/header.twig" %}
<main class='main-content'>
<div class="main-banner" style="background: url({{ site.theme.link }}/assets/images/ban_decore.png) 0% 101%,linear-gradient(132.63deg, #FFFFFF 12.88%, rgba(255, 255, 255, 0) 85.91%), linear-gradient(179.5deg, #FFFFFF 1.41%, rgba(254, 254, 254, 0) 42.95%),url({{ site.theme.link }}/assets/images/slide3.jpg) 0 100%;">
	<div class="container">
		<div class="main-banner-title">Об <span>университете</span></div>
		<div class="main-banner-text">
			<p>{{ post.banner_text }}</p>
		</div>
	</div>	
</div>
<div class="about-us-content white">
	<div class="container">
		<div class="about-us-title">{{ post.about_us_title }}</div>
		<div class="about-us-text">{{ post.about_us_text }}</div>
		<div class="about-us-triggers">
			{% for item in post.triggers_1 %}
				<div class="about-us-trigger">
					<div class="about-us-trigger-img">
						<img src="{{ Image(item.icon).src }}" alt="">
					</div>
					<div class="about-us-trigger-text">{{ item.text }}</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="about-us-content blue">
	<div class="container">
		<div class="about-us-text">
			{{ post.test_blue }}
		</div>
		<div class="about-us-triggers">
			{% for item in post.triggers_1 %}
				<div class="about-us-trigger">
					<div class="about-us-trigger-img">
						<img src="{{ Image(item.icon).src }}" alt="">
					</div>
					<div class="about-us-trigger-text">{{ item.text }}</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
</main>
{% include "partials/footer.twig" %}