{% include "partials/header.twig" %}
<main class='main-content'>
<div class="main-banner" style="background: url({{ site.theme.link }}/assets/images/ban_decore.png) no-repeat 0% 101%,linear-gradient(132.63deg, #FFFFFF 12.88%, rgba(255, 255, 255, 0) 85.91%), linear-gradient(179.5deg, #FFFFFF 1.41%, rgba(254, 254, 254, 0) 42.95%),url({{ site.theme.link }}/assets/images/hassp.jpg);">
	<div class="container">
		<div class="main-banner-title" style="max-width: 100%;"><span>{{ post.title }}</span> как<br> конкурентное преимущество</div>
		<div class="main-banner-text">
			{{ post.get_content|shortcodes }} 
		</div>
	</div>	
</div>
<div class="training-options">
	<div class="container">
		<div class="training-option-item" style="background: linear-gradient(0deg, #FFFFFF -18.1%, rgba(255, 255, 255, 0) 35.75%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url({{ site.theme.link }}/assets/images/food-1.jpg);">
			<div class="training-option-item-name">Очно</div>
			<div class="training-option-item-text">Занятия проводятся по запросу и в зависимости от загруженности эксперта. Уникальная возможность задать все волнующие вопросы.</div>
			<div class="training-option-item-link"><a href="{{ post.link }}/fulltime">Узнать подробнее</a></div>
		</div>
		<div class="training-option-item" style="background: linear-gradient(0deg, #FFFFFF -18.1%, rgba(255, 255, 255, 0) 35.75%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url({{ site.theme.link }}/assets/images/food-2.jpg);">
			<div class="training-option-item-name">Вебинар</div>
			<div class="training-option-item-text">Полный курс - серия вебинаров из 6 модулей.</div>
			<div class="training-option-item-link"><a href="{{ post.link }}/webinar">Узнать подробнее</a></div>
		</div>
		<div class="training-option-item" style="background: linear-gradient(0deg, #FFFFFF -18.1%, rgba(255, 255, 255, 0) 35.75%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url({{ site.theme.link }}/assets/images/food-3.jpg);">
			<div class="training-option-item-name">Онлайн-курс</div>
			<div class="training-option-item-text">Экономично и удобно! Полная информация по ХАССП в любое время.</div>
			<div class="training-option-item-link"><a href="{{ post.link }}/online">Узнать подробнее</a></div>
		</div>
	</div>
</div>
<div class="hassp-content">
	<div class="container">
		<div class="hassp-content-column">
			<div class="hassp-content-row">
				<div class="hassp-content-row-title">для кого:</div>
				<div class="for-whom">
					<div class="for-whom-item">
						<div class="for-whom-item-img"><img src="{{ site.theme.link }}/assets/images/security.svg" alt=""></div>
						<div class="for-whom-item-name">Директор по качеству</div>
					</div>
					<div class="for-whom-item">
						<div class="for-whom-item-img"><img src="{{ site.theme.link }}/assets/images/chemistry.svg" alt=""></div>
						<div class="for-whom-item-name">Начальник лаборатории</div>
					</div>
					<div class="for-whom-item">
						<div class="for-whom-item-img"><img src="{{ site.theme.link }}/assets/images/researcher.svg" alt=""></div>
						<div class="for-whom-item-name">Специалист по качеству</div>
					</div>
					<div class="for-whom-item">
						<div class="for-whom-item-img"><img src="{{ site.theme.link }}/assets/images/manager.svg" alt=""></div>
						<div class="for-whom-item-name">Начальник производства</div>
					</div>
					<div class="for-whom-item">
						<div class="for-whom-item-img"><img src="{{ site.theme.link }}/assets/images/manager.svg" alt=""></div>
						<div class="for-whom-item-name">Главный технолог</div>
					</div>
					<div class="for-whom-item">
						<div class="for-whom-item-img"><img src="{{ site.theme.link }}/assets/images/manager.svg" alt=""></div>
						<div class="for-whom-item-name">Иные сотрудники предприятий</div>
					</div>
				</div>
			</div>
			<div class="hassp-content-row">
				<div class="hassp-content-row-title">Выдаваемые документы:</div>
				<div class="hassp-content-row-docs">
					<div class="hassp-content-doc">
						<div class="hassp-content-doc-value"><span>Сертификат о прохождении обучения темы (название одного из модулей).</span></div>
						<div class="hassp-content-doc-image"><img src="{{ site.theme.link }}/assets/images/doc1.jpg" alt=""></div>
					</div>
					<div class="hassp-content-doc">
						<div class="hassp-content-doc-value"><span>Удостоверение о краткосрочном повышении квалификации</span></div>
						<div class="hassp-content-doc-image hover">
							<img src="{{ site.theme.link }}/assets/images/doc2.jpg" alt="">
							<img src="{{ site.theme.link }}/assets/images/doc3.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hassp-content-column">
			{% if post.expert %}
			<div class="hassp-content-row">
				<div class="hassp-content-row-title">Преподаватель – эксперт:</div>
				<div class="hassp-teacher-item">
					<div class="hassp-teacher-item-img"><img src="{{ site.theme.link }}/assets/images/teach.jpg" alt=""></div>
					<div class="hassp-teacher-item-info">
						<div class="hassp-teacher-item-name">{{ Post(post.expert).title }}</div>
						<div class="hassp-teacher-item-text">
							<p>{{ Post(post.expert).position }}</p>
						</div>
						<a href="{{ Post(post.expert).link }}" class="hassp-view-more">Узнать подробнее</a>
					</div>
				</div>

				<div class="hassp-teacher-content">
					<div class="hasp-teatcher-text">
						{{ Post(post.expert).content }}
					</div>
					<div class="hasp-teacher-gallery">
						{% for image in Post(post.expert).meta('gallery') %}
							<a href="{{ Image(image)|resize(370) }}" class="gallery-item">
								<img src="{{ Image(image) }}"/>
							</a>
						{% endfor %}
					</div>
					<div class="hasp-teatcher-text">
						{{ Post(post.expert).meta('links') }}
					</div>
				</div>
			</div>
			{% endif %}

			<div class="hassp-content-row">
				<div class="hassp-content-row-title">Что дает внедрение {{ post.title }}:</div>
				<div class="hassp-content-row-info">
					<table>
						<tbody>
							<tr>
								<td>Внутренние преимущества</td>
								<td>Внешние преимущества</td>
								<td>Экономические</td>
								<td>Репутационные</td>
							</tr>
							<tr>
								<td>Обнаружение слабых мест на предприятии через анализ рисков</td>
								<td>Повышение доверия потребителя к производителю и его продукции</td>
								<td>Экономия за счет снижение количества брака (предотвращение брака-бесплатно, работа с браком-убытки)</td>
								<td>Имидж компании как надежного партнера-производителя качественной и безопасной продукции</td>
							</tr>
							<tr>
								<td>Переход от корректирующих мер к предупреждающим (работа на предотвращение брака, а не на поиски виновных при появлении брака)</td>
								<td>Снижение жалоб потребителей за счет повышения стандартов качества и безопасности</td>
								<td>Повышение конкурентноспособности за счет  признания системы {{ post.title }} на рынке</td>
								<td></td>
							</tr>
							<tr>
								<td>Прозрачность процесса и назначение ответственных.</td>
								<td></td>
								<td>Повышение инвестиционной привлекательности за счет улучшенных показателей (минимум брака,  статус «{{ post.title }}» и т.д.)</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

</main>
{% include "partials/footer.twig" %}