{% include "partials/header.twig" %}
<main class='main-content'>
<div class="teachers_page top_padding">
	<div class="container">
		<div class="all-page-title">
			<h1>Эксперт по пищевой безопасности</h1>
		</div>
		<div class="hassp-teacher-item">
			<div class="hassp-teacher-item-img">
				{% if post.thumbnail %}
					<picture>
						<source srcset="{{ post.thumbnail.src('medium_large')|towebp }}" type="image/webp">
						<source srcset="{{ post.thumbnail.src('medium_large')|tojpg }}" type="image/jpeg">
						<img src="{{ post.thumbnail.src('medium_large')|tojpg }}" alt="{{ post.title }}">
					</picture>
				{% else %}
					<img class="" src="{{ site.theme.link }}/assets/images/placeholder-images.webp" alt="">
				{% endif %}
			</div>
			<div class="hassp-teacher-item-info">
				<div class="hassp-teacher-item-name">{{ post.title }}</div>
				<div class="hassp-teacher-item-text">
					<p>{{ post.meta('position') }}</p>
				</div>
			</div>
		</div>
		<div class="teachers_page-content">
			<div class="hasp-teatcher-text">
				{{ post.get_content|shortcodes }} 
			</div>
			<div class="hasp-teacher-gallery">
				{% for image in post.meta('gallery') %}
					<a href="{{ Image(image)|resize(370) }}" class="gallery-item">
						<img src="{{ Image(image) }}"/>
					</a>
				{% endfor %}
			</div>
			<div class="hasp-teatcher-text">
				{{ post.meta('links') }}
			</div>
		</div>
	</div>
</div>

</main>
{% include "partials/footer.twig" %}